body {
    margin: 0;
    padding: 0;
}

/* innentől kezdődik a fejléc helye*/

#navbar {
    background-color: #393939;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#navbar img {
    padding-right: 10px;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
}
/* itt van a navbar vége*/