body {
    padding: 0;
    margin: 0;
}

.headland {
    font-family: "Headland One", serif;
    font-weight: 400;
    font-style: normal;
}  

/* innentől kezdődik a fejléc helye*/

#navbar {
    background-color: #393939;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 120px;
    margin: 0 auto;
    justify-content: center;
}

#navbar img {
    padding: 20px 15px 20px 50px;
    max-width: 100%;
    height: auto; 
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 25px 25px;
    font-size: 2vw;
}
/* itt van a navbar vége*/