body {
    padding: 0;
    margin: 0;
}

.headland {
    font-family: "Headland One", serif;
    font-weight: 400;
    font-style: normal;
}  

/* innentől kezdődik a fejléc helye*/

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  height: 120px;
  text-align: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  /*padding: 28px 32px;*/
  text-decoration: none;
}

#kezdolap {

}

.nav-item {
  
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown, .dropbtn, .dropbtn2, .dropbtn3 {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  /*padding: 14px 16px;*/
  background-color: inherit;
  font-family: inherit;
  padding: 0;
}

.navbar a:hover, .dropdown:hover, .dropbtn .dropbtn:focus, .dropbtn2 .dropbtn2:focus, .dropbtn3 .dropbtn3:focus {
  background-color: red;
}

.dropdown-content, .dropdown-content2, .dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, .dropdown-content2 a, .dropdown-content3 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover, .dropdown-content2 a:hover, .dropdown-content3 a:hover {
  background-color: #ddd;
}

.show, .show2, .show3 {
  display: block;
}
/* itt van a navbar vége*/

/* itt lesz Lábléc */






