body{
    background-image:  linear-gradient(#FFFFFF,#008080);
    display: block; 
    background-attachment: fixed;
}

.headland {
  font-family: "Headland One", serif;
  font-weight: 400;
  font-style: normal;
}  

.fokep{
    /* position: fixed; */
    padding-left: 0.5%;
    margin-left: -10px;
}

.cim{
    text-align: center;
    background-color: rgba(3, 164, 164, 37%);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 8px;
    margin-bottom: 5%;
}


* {
    box-sizing:border-box
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



.gomb {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;


}

.container{
    position: relative;
    text-align: center;
    color: white;
}


.active, .gomb:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.gombok{
  text-align:center;
  position: relative;
  margin-top: -5%;

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 1300px) {
  .gombok{
    margin-top: -8%;
  }
}


/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */
