body{
    background-image:  linear-gradient(#FFFFFF,#008080);
    display: block; 
    background-attachment: fixed;
    margin: 0px;
}

.headland {
  font-family: "Headland One", serif;
  font-weight: 400;
  font-style: normal;
}  

.cim{
    text-align: center;
    background-color: rgba(3, 164, 164, 37%);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 8px;
    margin-bottom: 5%;
}

/* településünkről */

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 1 / 3 / 2; }
  .div4 { grid-area: 3 / 1 / 4 / 2; }
  .div5 { grid-area: 2 / 2 / 4 / 3; }


.nyitvatartas
{
    text-align: left;
    padding: 25px;
    height: min-content; 
    background-color: rgba(217, 217, 217, 0.35);
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#elsonyitvatartas{
    padding: 5%;
    font-size: large;
    margin-right: 15%;
    margin-left: 26%;
}


.nyitvaelsop{
    margin-top: 16%;
    margin-right: 26%;
    font-size: larger;
}

.nyitvamasodikp{
    font-size: larger; 
    margin-left: 28%;
}

.nyitvatartaskep{
    margin-top: -31%; 
    margin-left: 27%; 
    height: 51%; 
    width: 74%;
}

#masodiknyitvatartas{
    font-size: large; 
    margin-left: 15%; 
    margin-right: 33%;
}

.tartalomkep
{
    margin: auto;
    text-align: center;
}

#Nytartas
{
    font-size: 23px;
    text-align: center;
}

.kartyaszoveg{
    margin-left: 0.5%;
    margin-right: 0.5%;

}

.kartyap {
    margin-top: 3%;
    margin-bottom: 3%;

}

@media (max-width: 875px)  {

.nyitvatartas p {
  padding: 5%;
  font-size: large;
}

}

@media (max-width: 400px) {

.nyitvatartas p {
    padding: 5%;
    font-size: medium;
}

.nyitvatartas {
  text-align: left;
  padding: 12px;
  height: min-content;
  margin-left: 11%;
  margin-right: 11%;

}

.tartalomkep {
    margin-left: 25%;
    margin-right: 35%;
    
}

}

@media (max-width: 905px) {
    /* .nyitvatartas{
        text-align: left;
        padding: 12px;
        height: min-content;
        margin-left: 11%;
        margin-right: 11%;
    } */

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }
        .div4 { grid-area: 4 / 1 / 5 / 2; }
        .div5 { grid-area: 5 / 1 / 6 / 2; }


        
    
}