body{
    background-image:  linear-gradient(#FFFFFF,#008080);
    display: block; 
    background-attachment: fixed;
}

.headland {
  font-family: "Headland One", serif;
  font-weight: 400;
  font-style: normal;
}  

.fokep{
    /* padding-left: 0.5%; */
    /* margin-left: -10px; */
}

.cim{
    text-align: center;
    background-color: rgba(3, 164, 164, 37%);
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 8px;
    margin-bottom: 5%;
}


* {
    box-sizing:border-box
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.active, .gomb:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
