
body{
    background-image:  linear-gradient(#FFFFFF,#008080)  ;
    text-align: center;
    background-attachment: fixed;
    margin: 0;
   
}
.headland {
    font-family: "Headland One", serif;
    font-weight: 400;
    font-style: normal;
}  
.nyitvatartas
{
    text-align: left;
   
    padding: 25px;
    
    height: min-content; 
    background-color: rgba(217, 217, 217, 0.35);
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 22%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.Leiras 
{
    text-align: left;
   
    padding: 25px;
  
    height: min-content;
    background-color: rgba(217, 217, 217, 0.35);
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 22%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#tartalom
{

   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
        
    
    
}
#Nytartas
{
    
    font-size: 23px;
    text-align: center;
}
#Leiras
{
    
    text-align: center;
    font-size: 23px;
}
.tartalomkep
{
    margin: auto;
    text-align: center;
}
.nyitvatartas p
{
    padding: 5%;
    font-size: large;
}
.Leiras p
{
    padding: 5%;
    font-size: large;
}
#fokep
{
    margin: auto;
    width: 50%;
    height: auto;
 
    
}



#cim
{
    padding: 25px;
    height: min-content;
    background-color: rgba(3, 164, 164, 0.37);
    border-radius: 25px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: small;
}
@media (max-width: 875px) 
{
    #tartalom
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
    }
    .nyitvatartas p
{
    padding: 5%;
    font-size: large;
}
.Leiras p
{
    padding: 5%;
    font-size: large;
}

}
@media (max-width: 753px) 
{

#fokep
{
    width: 70%;
}
    
}
@media (max-width: 400px) 
{

#fokep
{
    margin: auto;
    width: 100%;
    height: auto;
 
    
}

    .tartalomkep
{
    margin-left: 25%;
    margin-right: 35%;
    
}
.nyitvatartas p
{
    padding: 5%;
    font-size: medium;
}
.Leiras p
{
    padding: 5%;
    font-size: medium;
}
.nyitvatartas {
    text-align: left;
    padding: 12px;
    height: min-content;
    background-color: rgba(217, 217, 217, 0.35);
    border-radius: 25px;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 5%;
    margin-bottom: 5%; 

}
.Leiras 
{
    text-align: left;
   
    padding: 25px;
  
    height: min-content;
    background-color: rgba(217, 217, 217, 0.35);
    border-radius: 25px;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1
{
    font-size: x-large;
}
#cim
{
    padding: 5px;
    height: min-content;
    background-color: rgba(3, 164, 164, 0.37);
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    
}


}

/*innen slide show van */


* {
    box-sizing:border-box
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.active, .gomb:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* lablec*/

footer
{
    
    background-image: url(/Képek/Lableckep.PNG);
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;   
    background-size: cover;
    color: white;
}
#Lablecszov1
{
    width: min-content;
    margin: auto;
    padding: auto;
    position: absolute;
    left: 5%;

}
#Lablecszov2
{   
    width: min-content;
    margin: auto;
    padding: auto;
    position: absolute;
    right: 5%;
    
}
#Lablecszov1 p
{
    display: flex;                
    justify-content: center;      
         
   
    flex-wrap: wrap;
}
#Lablecszov1 img
{
    display: flex;                
    align-items: center;         
    gap: 8px;
}




