
body{
    background-image:  linear-gradient(#FFFFFF,#008080);
    text-align: center;
    display: flex;
    

    
}
#nyitvatartas
{

    padding: 25px;
    width: 14%;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 5%;
}
#Leiras
{
 
    padding: 25px;
    width: 14%;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 5%;
}
